<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->




    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
 <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
   <span class="swal2-success-line-tip"></span>
   <span class="swal2-success-line-long"></span>
   <div class="swal2-success-ring"></div> 
   <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
   <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
  </div>
  
  
  <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>
	<div class="row">
	    <div class="col-sm-8 col-offset-sm-2">
		    <h1>Success! Your Pizza has been ordered!</h1>
		</div>
		<div class="col-sm-8 col-offset-sm-2">
		    Delivery time xxx
		</div>
		<div class="col-sm-8 col-offset-sm-2 lead">
		    Enter info for status updates
		</div>
		<!-- <div class="col-sm-8 col-offset-sm-2">
		    Text
		</div> -->
		<div class="col-sm-8 col-offset-sm-2">
		  <div class="form-group">
            <label for="exampleFormControlTextarea1">Text to phone</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
		</div>
		